::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 5px;
  background: #cccdde;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #10b981;
  transform: translate(10px 0);
  border-radius: 10px;
  transition: background 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55eebb;
}